<div class="panel panel-default framed-video-player">
    <div class="panel-heading"><h3><%= title %></h3></div>
    <p>Source: <a href="<%= embedUrl %>" rel="nofollow"><%= embedSource %></a></p>
    <% if ((typeof hideDescription === "undefined" || ! hideDescription) && description) {
    		%><%= description %><%
    	} %>
    <div class="embed-responsive embed-responsive-16by9" style="clear: both;"><%- embedCode %></div>
</div>

<!-- youtube-metadata href="<%= embedUrl %>"/ -->
