<div class="slideshare-embed panel panel-default">
    <div class="panel-heading"><h3><%= title %></h3></div>
    <p>Source: Slideshare by <a href="<%= author_url %>"><%= author %></a></p>
    <div class="embed-responsive embed-responsive-16by9" style="clear: both;"><%- htmlEmbed %></div>
</div>

<slideshare-metadata href="<%= slideshare_url %>"/>
